.grid1 {
    height: 80px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
}

.grid2 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;

}

.grid2 a:hover {
    color: red;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px 20px;
}